.product-card-link {
    text-decoration: none;
    color: inherit;
}

.product-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.product-card {
    transition: transform 0.3s ease;
}